.specialize{
    padding: 3rem 0;
    text-align: center;
    position: relative;
    h1{
        font-family: 'Pacifico', cursive;
    }
    p{
        padding: 0 15rem;
        margin: 3rem 0 5rem;
        color: grey;
    }
    .specializeContent{
        width: 100%;
        display: flex;
        align-items: center;
        .midColumn{
            margin: 0 5%;
        }
        .column{
            width: 30%;
            box-shadow: 0 0 30px #ebebeb;
            padding: 3.5rem;
            text-align: left;
            cursor: pointer;
            transition: 0.6s;
            display: flex;
            justify-content: center;
            align-items: left;
            flex-direction: column;

            p{
                padding: 0;
                margin: 2rem 0;
            }
            i{
                font-size: 3rem;
                margin-bottom: 2rem;
                align-items: center;
                color: #008ec2;
            }
            h1{
                font-size: 1.5rem;
                font-weight: 500;
            }
            h6{
                color: #008ec2;
                font-size: 1rem;
                font-weight: 500;
            }
        }
        .column:hover{
            background-color: #008ec2;
            color: #fff;
            transform: translateY(-10%);

            p, i, h6{
                color: #fff;
            }
        }
    }

}
.specialize::before{
    content: "<";
    top: 30%;
    left: -15%;
    position: absolute;
    font-weight: bold;
    font-size: 20rem;
    color: #f1f0f0da;
    z-index: -1;
}
.specialize::after{
    content: ">";
    top: 30%;
    right: -15%;
    position: absolute;
    font-weight: bold;
    font-size: 20rem;
    color: #f1f0f0da;
    z-index: -1;
}

@media only screen and ( max-width: 786px) {
    .specialize{
        p{
            padding: 0 1rem;
        }
        .specializeContent{
            flex-direction: column;

            .column{
                width: 80%;
                margin-bottom: 3rem;
                align-items: center;
                p{
                    text-align: center;
                }
            }
        }
    }
    .specialize::before, .specialize::after{
        display: none;
    }
}