@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.nav-logo span {
  width: 35px;
  height: 4vh;
  border-radius: 5px;
  display: inline-block;
  background-color: #008ec2;
  color: #fff;
  font-weight: bold;
  margin-right: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links{
  margin-left: 2.5rem;
  font-size: 1.1rem;
  transition: 0.4s;
}
.nav-links:hover, .active{
  color: #008ec2;
}
.active{
  font-weight: bold;
}
.toggle{
  display: flex !important;
}

.btnHire{
  width: 8rem;
  height: 2.8rem;
  background-color: #008ec2;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
  transition: color 0.4s;
}
.btnHire:hover{
  background-color: transparent;
  color: #008ec2;
  border: 2px solid #008ec2;
}
 @media only screen and( max-width: 786px){
   .nav-links{
     width: 100%;
     margin-left: 0;
     padding: 1.2rem 0;
     border-bottom: 1px solid #dfdfdf;
     display: flex;
     justify-content: center;
     align-items: center;
   }
 }

//  ################################### Landing Area
.landingContainer::before{
  content: "<h1>";
  top: 10%;
  left: 5%;
  position: absolute;
  font-weight: bold;
  font-size: 20rem;
  color: #f1f0f0da;
  z-index: -1;
}
.landingContainer::after{
  content: "</h1>";
  bottom: 0;
  right: 5%;
  position: absolute;
  font-weight: bold;
  font-size: 20rem;
  color: #f1f0f0da;
  z-index: -1;
}
.Landing{
  height: 92vh;
}
.LandingLeft{
  width: 70%;
}
.LandingRight{
  width: 30%;
}
.LandingName{
  font-size: 7rem;
  font-weight: 400;
  font-family: 'Pacifico', cursive;
}
.LandingExp{
  display: flex;
  align-items: center;
  color: #008ec2;
  margin-top: 2rem;
   h1{
     font-size: 4rem;
   }
   p{
     margin-left: 1rem;
     font-weight: 500;
   }
}

@media only screen and (max-width: 786px) {
  .landingContainer::before{
    font-size: 10rem;
    left: 1%;
    top: 5%;
  }
  .LandingExp{
    width: 100%;
    justify-content: center;
  }
  .landingContainer::after{
    font-size: 10rem;
  }
  .LandingName{
    font-size: 3rem;
  }
}